{% extends 'base.html.twig' %}

{% block title %} Автор {% endblock %}

{% block body %}
    <div>
        <h1>{{ author.name }} {{ author.surname }}</h1>
    </div>



    <a href="/">Назад</a>
{% endblock %}