<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Авторы & Книги</a>
        <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('create') }}" class="nav-link">Добавить автора</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('add_book') }}" class="nav-link">Добавить книгу</a>
                </li>
                <li class="nav-item">
                    <a href="/author" class="nav-link">Добавить случайного автора</a>
                </li>
            </ul>
        </div>
    </div>
</nav>